html, body, #__nuxt {
    @apply h-full antialiased
}

body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
    font-family: 'Söhne', 'ui-sans-serif', 'system-ui', '-apple-system', 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'Helvetica Neue', 'Arial', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.blur-global {
    background: rgba(245, 245, 247, 0.72);
    backdrop-filter: saturate(180%) blur(20px);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-200 dark:bg-gray-700 rounded-full border-2 border-transparent bg-clip-content;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300 dark:bg-gray-600;
}

.loading > dd:last-child::after,
.loading > dl:last-child::after,
.loading > dt:last-child::after,
.loading > h1:last-child::after,
.loading > h2:last-child::after,
.loading > h3:last-child::after,
.loading > h4:last-child::after,
.loading > h5:last-child::after,
.loading > h6:last-child::after,
.loading > li:last-child::after,
.loading > ol:last-child li:last-child::after,
.loading > p:last-child::after,
.loading > pre:last-child code::after,
.loading > td:last-child::after,
.loading > ul:last-child li:last-child::after {
    content: ' ● ';
}

.scrollbar-hide::-webkit-scrollbar {
    @apply hidden
}
